.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.table thead tr:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 50%);
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 5%);
}

.table th {
  text-align: left;
  padding: 5px;
}

.table td {
  padding: 20px 10px;
}

.cell-type-money {
  text-align: right;
}
